
.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.Georgia-regular {
    font-family: "Georgia";
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }