:root{
    --persian-blue: #072ac8ff;
    --dodger-blue: #1e96fcff;
    --uranian-blue: #a2d6f9ff;
    --aureolin: #fcf300ff;
    --mikado-yellow: #ffc600ff;
    --heading-font: "Poetsen+One", sans-serif;
    --body-font: "roboto", sans-serif;
  } 
  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

header{
    background-color: var(--dodger-blue);
    color: var(--persian-blue);
  }

body{
    font-family: var(--body-font);
    color: var(--persian-blue);
  }

header, main, footer{
    width: 840px;
    margin: 0 auto;
  }

nav, p, section, article{

    margin: 16px;
    padding: 8px;
  }
.socialmedia a {
    text-decoration: none;
  }
 .hero{
  position: relative;
  }

.hero img{
  display: block;
  width: 100%;
  height: auto;

  }

h1, h2{
  font-family: var(--heading-font);
  color: var(--persian-blue);
  top: 20px;
  width: 100%;
  padding: 16px;
  text-align: center;
  opacity: 0.7;
  background-color: var(--aureolin);
  color: #050000;
  }
.hero article img {
  float: right;
  width: 125px;
  }
.article{
  position: absolute;
  }
.panel {
    display: flex; 
    flex-direction: row;
    align-items: center;
    padding: 10px;
    justify-content: space-between; 
    }
.menu {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 10px;
    gap: 50px;
    padding: 0px;
    }
.socialmedia {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 20px; 
    }
.socialmedia a img {
    margin: 0 10px;
    width: 40px;
    }
.menu a {
      margin: 0 15px; 
      text-decoration: none;
      background-color: var(--aureolin);
    }

 /* contact us */
 iframe {
  border: 2px solid black;
  border-radius: 5px;
  width: 800px;
  height: 400px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);

}
.staff{
  display: flex;
  flex-direction:column;
  align-items: center;
  padding: 20px; 
}

table {
  border-collapse: collapse;
  border: 2px solid rgb(140 140 140);
  font-family: sans-serif;
  font-size: 0.8rem;
  letter-spacing: 1px;
}
.staff img {
  width: 100px;
}
th,td {
  border: 1px solid rgb(160 160 160);
  padding: 8px 10px;
  }
  td:nth-child(2) {
    width: 150px;
    text-align: center;
  }
  td:nth-child(3) {
    width: 650px;
    text-align: left;
  }

  

  