*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    }

.roboto-text> {
	font-family: "Roboto", sans-serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
	font-variation-settings:"wdth";
    }

body{
    font-family: "Roboto";
    font-size: 1.2rem;
    color:#333;
    background: #fff;     
    }

header{
    margin: 0 auto;
    width: 650px;
    }

h1{
    font-family: "rowdies", sans-serif;
    text-align: center;
	font-size: 1.3em;
    color: navy;
	text-shadow: 3px 3px 5px #777;
    margin: 1rem;    
    }

form{
    width: 650px;
    margin: 0 auto;
    padding: 1rem;
    background-color: #eee;
    border: 1px solid rgb(0 0 0 / 0.1);
    border-radius: 0.5rem;
    display: grid;
    }
legend{
    padding: 0.5rem;
    color:navy;
    font-size: 1.3rem;
    }
label, input, button, select, textarea {
    font-family: Roboto, arial, sans-serif;
    
    }

fieldset {
    display: grid;
    grid-gap: .5rem;
    margin: 1rem;
    border: 3px solid rgba(243, 8, 8, 0.2);
    padding: 1rem;
    }

label {
    text-align: rigth;
    padding-right: 1rem;
}

input, select, textarea {
    padding: 0.5rem;
    font-size: 1.1rem;
    }

input[type="checkbox"]{
    width: 22px;
    height: 22px; 
    vertical-align: bottom;
        }

button{
    background-color: rgb(236, 212, 243);
    margin: 1rem;
    background-color: rgb(244, 100, 117);
    color: #fff;
    border: none;
    border-radius: .5rem;
    padding: .75rem;
    font-size: 1.2rem;
    }

button:hover{
        background-color: darkgreen;
    }

footer{
    margin: 1rem auto 0;
    width: 650px;
    text-align: center;
    font-size: 0.8em;
    color: #777;
    border-top: 1px solid #ccc;
    }

label, input{
    color: navy;
    font-family: "Roboto";
    
    }
.form-item {
    display: grid;
    align-items: center;
    } 

.column1 {
    display: flex;
    flex-direction: column;

    }

.column2 {
    /* grid-template-columns: 1fr 2fr;*/
    display: flex;
    flex-direction: column;
    }